.signup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signup-form input,
.signup-form textarea {
  padding: 12px;
  font-size: 1rem;
  border: 2px solid #fff;
  background: rgba(255,255,255,0.1);
  color: #fff;
  border-radius: 0;
}
.signup-form textarea {
  resize: none; /* user cannot resize */
}


.signup-form input::placeholder,
.signup-form textarea::placeholder {
  color: #ddd;
}

.signup-form input:focus,
.signup-form textarea:focus {
  outline: none;
  border-color: #4a90e2;
  background: rgba(255,255,255,0.2);
}

.signup-form button {
  background: #fff;
  border: 2px solid #4a90e2;
  color: #4a90e2;
  padding: 12px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0;
  transition: all 0.3s ease;
}

.signup-form button:hover {
  background: #4a90e2;
  color: #fff;
}
